# Python virtual environment
python-service/env/

# Gradle build folders
**/.gradle/  
**/build/

**/bin/
**/gradle/

# Node modules
frontend/node_modules/

# Logs
*.log

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
docker-compose.yml
env.txt
.gitignore